.site-logo{max-height:200px}

.post-full-image {background:#ffffff} /* hintergrundfarbe anpassen site */



 .post-full-content img,.post-full-content video{/* width:300px */} /* grösse entsperren */

.post-full-content img, .post-full-content video {
    display: initial;
    margin: 0.3em auto;
    max-width: 1040px;
}  /* hintergrund images */

.post-full-image {height: 200px;}

/* .post-card-image { height: 0px; } */



/* .post-full-content p {/* color:#000; *//* box-shadow: -20px -7px 20px 8px #2d8bbf; */} */ /* blaue hyperlink line entfernen */

.post-card:nth-child(6n+1):not(.no-image) {/* flex: 1 1 100%; */}
