{{ $posts := (where .Site.RegularPages "Section" "==" "post")  }}{{ $postCount := len $posts }}{{if ge $postCount 4}}{{ $currentPage := . }}
<article class="/*read-next-card*/" {{if .Site.Params.cover}}
            style="*/background-image: url({{.Site.Params.cover | absURL}});*/" {{else}}style="*)background-color: #090a0b;*)"{{end}}>
   
 

 
    <footer class="/*read-next-card-footer*/">
      {{if .Params.tags }}{{ range $index, $tag := .Params.tags }}{{if lt $index 1}}
        <a href="/*{{/*$.Site.BaseURL*/}}tags/{{ $tag | urlize }}*/"/*>See all related posts*/ →</a>{{end}}{{end}}{{ end }}
    </footer>
</article>
{{end}}
